body {
  opacity: 1;  
  height: 2000px;
  z-index: 1;
}
.photosHeader {
  display: grid;
  position: absolute;
  top: 118px;
  right: 0;
  grid-gap: 4px;
  grid-template-columns: 142px 142px 142px 142px 142px 142px 142px 142px 142px;
  grid-template-rows: 142px 142px;
  background-color: #2d333f;
}
.photo {
  background-color: #2d333f;
  border-radius: 0px;
  padding: 0px;
  font-size: 150%;
}
.photoDimmer {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default - block/none */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
}
.overlayExitBtn {
  position: fixed;
  line-height: 2;
  right: 0px;
  top: 0px;
  padding: 0px 0px;
  font-size: 2rem;
  background-color: transparent;
	opacity: 0.9;
  color: gray;
  border: none;
  font-size: 60px;
}
.overlayExitBtn:focus {
  outline: none;
}
.overlayExitBtn:hover {
	cursor: pointer;
}
.overlayPic {
  position: fixed;
  top: 5%;
  left: 27.5%;
  height: 590px;
  width: 590px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
}
.photoA {
  grid-row: 1;
  grid-column: 1;
}
.photoB {
  grid-row: 2;
  grid-column: 1;
}
.photoC {
  grid-row: 1;
  grid-column: 2;
}
.photoD {
  grid-row: 1;
  grid-column: 4;
}
.photoE {
  grid-row: 2;
  grid-column: 4;
}
.photoF {
  grid-row: 1;
  grid-column: 5;
}
.photoG {
  grid-row: 1;
  grid-column: 7;
}
.photoH {
  grid-row: 2;
  grid-column: 7;
}
.photoI {
  grid-row: 1;
  grid-column: 8;
}
.photoJ {
  grid-row: 1;
  grid-column: 10;
}
.photoK {
  grid-row: 2;
  grid-column: 10;
}
/* .photoL {
  grid-row: 1;
  grid-column: 11;
} */
/* .photoZ {
  grid-row: 3;
  grid-column: 1;
} */